<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6ec59b52baa240699ffc52c4dcca2d56 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6ec59b52baa240699ffc52c4dcca2d56" ></div>
        
</body>
<script>    
    
            var map_6ec59b52baa240699ffc52c4dcca2d56 = L.map(
                "map_6ec59b52baa240699ffc52c4dcca2d56",
                {
                    center: [38.58, -99.09],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ce0f5b4488ab443f9b25e738a49bef45 = L.tileLayer(
                "https://{s}.tiles.mapbox.com/v3/mapbox.world-bright/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u0026copy; \u003ca href=\"http://www.mapbox.com/about/maps\"\u003eMapbox\u003c/a\u003e Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6ec59b52baa240699ffc52c4dcca2d56);
        
    
            var feature_group_708cf158271547a3ba042daf2566ec21 = L.featureGroup(
                {}
            ).addTo(map_6ec59b52baa240699ffc52c4dcca2d56);
        
    
            var marker_4695d75a5de8487e974aa3dcf50e5060 = L.marker(
                [22.3511148, 78.6677428],
                {}
            ).addTo(feature_group_708cf158271547a3ba042daf2566ec21);
        
    
            var icon_f34898c980b14b7f9687390793f0d4a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4695d75a5de8487e974aa3dcf50e5060.setIcon(icon_f34898c980b14b7f9687390793f0d4a1);
        
    
        var popup_8e0cab2907ac443f97da782bc3019fa7 = L.popup({"maxWidth": "100%"});

        
            var html_da8355633e7746cb93e5330c27312112 = $(`<div id="html_da8355633e7746cb93e5330c27312112" style="width: 100.0%; height: 100.0%;">India ...............If I become the Prime Minister  first and foremost in order to stop black money and terrorism  I shall demonetise t  https   t co vAlCVIdrgx</div>`)[0];
            popup_8e0cab2907ac443f97da782bc3019fa7.setContent(html_da8355633e7746cb93e5330c27312112);
        

        marker_4695d75a5de8487e974aa3dcf50e5060.bindPopup(popup_8e0cab2907ac443f97da782bc3019fa7)
        ;

        
    
    
            var marker_3df62020f1c84ee4bb0ba965f8436f12 = L.marker(
                [22.3511148, 78.6677428],
                {}
            ).addTo(feature_group_708cf158271547a3ba042daf2566ec21);
        
    
            var icon_853bf145b0d7434783f11c5422eba816 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3df62020f1c84ee4bb0ba965f8436f12.setIcon(icon_853bf145b0d7434783f11c5422eba816);
        
    
        var popup_ac1390b8eba54cdda6a005aaf2e9d76d = L.popup({"maxWidth": "100%"});

        
            var html_5c7262c724f24ca7af13cbcf8e028562 = $(`<div id="html_5c7262c724f24ca7af13cbcf8e028562" style="width: 100.0%; height: 100.0%;">India ...............RT  BJP Karnataka  Dear  PriyankKharge Avare   Our IT Cell Team is extremely delighted to be certified as  Coolies  by you  After all they </div>`)[0];
            popup_ac1390b8eba54cdda6a005aaf2e9d76d.setContent(html_5c7262c724f24ca7af13cbcf8e028562);
        

        marker_3df62020f1c84ee4bb0ba965f8436f12.bindPopup(popup_ac1390b8eba54cdda6a005aaf2e9d76d)
        ;

        
    
    
            var marker_5a434d17377242aea988d9fba3da4c74 = L.marker(
                [49.1148199, -1.0900815],
                {}
            ).addTo(feature_group_708cf158271547a3ba042daf2566ec21);
        
    
            var icon_e0c10449458e42c890e2f935d37226a3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_5a434d17377242aea988d9fba3da4c74.setIcon(icon_e0c10449458e42c890e2f935d37226a3);
        
    
        var popup_9c892d109dbf4c689ceea365a360750b = L.popup({"maxWidth": "100%"});

        
            var html_78a7487fe88144f1887e28289bb025bf = $(`<div id="html_78a7487fe88144f1887e28289bb025bf" style="width: 100.0%; height: 100.0%;">PlanetR ............... We re not treated very well by India  but I happen to like PM Modi a lot  And he told me we ll have   million peop  https   t co lOZEo UK z</div>`)[0];
            popup_9c892d109dbf4c689ceea365a360750b.setContent(html_78a7487fe88144f1887e28289bb025bf);
        

        marker_5a434d17377242aea988d9fba3da4c74.bindPopup(popup_9c892d109dbf4c689ceea365a360750b)
        ;

        
    
    
            var marker_e286dbf0b4e24a18830bab5f0e8bf546 = L.marker(
                [22.3511148, 78.6677428],
                {}
            ).addTo(feature_group_708cf158271547a3ba042daf2566ec21);
        
    
            var icon_9f0ed7bcc23c4877b3d467d158de247e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e286dbf0b4e24a18830bab5f0e8bf546.setIcon(icon_9f0ed7bcc23c4877b3d467d158de247e);
        
    
        var popup_9ff019f6b17a48228c3e17a8dd7d5a36 = L.popup({"maxWidth": "100%"});

        
            var html_5be5e616233d491aa857c84e7320d620 = $(`<div id="html_5be5e616233d491aa857c84e7320d620" style="width: 100.0%; height: 100.0%;">INDIA ...............If I become the Prime Minister  first and foremost in order to stop black money and terrorism  I shall demonetise t  https   t co JrJKYZxl u</div>`)[0];
            popup_9ff019f6b17a48228c3e17a8dd7d5a36.setContent(html_5be5e616233d491aa857c84e7320d620);
        

        marker_e286dbf0b4e24a18830bab5f0e8bf546.bindPopup(popup_9ff019f6b17a48228c3e17a8dd7d5a36)
        ;

        
    
    
            var feature_group_bb76e43f715a491581daa7dd449d8eaf = L.featureGroup(
                {}
            ).addTo(map_6ec59b52baa240699ffc52c4dcca2d56);
        
    
            var marker_f53c3bc8f08449a894b1756638d6b5e3 = L.marker(
                [30.3308401, 71.247499],
                {}
            ).addTo(feature_group_bb76e43f715a491581daa7dd449d8eaf);
        
    
            var icon_22104b659308411289c8c65741c510e6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f53c3bc8f08449a894b1756638d6b5e3.setIcon(icon_22104b659308411289c8c65741c510e6);
        
    
        var popup_f91fa917088b4701aabee86d42b4bd35 = L.popup({"maxWidth": "100%"});

        
            var html_17e6c3a0593c40a8a5ca147b10b5acc1 = $(`<div id="html_17e6c3a0593c40a8a5ca147b10b5acc1" style="width: 100.0%; height: 100.0%;">Pakistan ...............Here s All the Ridiculous Things India Is Doing Ahead of Donald Trump s Visit to Ahmedabad https   t co qrt UIEkLH via  viceindia</div>`)[0];
            popup_f91fa917088b4701aabee86d42b4bd35.setContent(html_17e6c3a0593c40a8a5ca147b10b5acc1);
        

        marker_f53c3bc8f08449a894b1756638d6b5e3.bindPopup(popup_f91fa917088b4701aabee86d42b4bd35)
        ;

        
    
    
            var marker_86648408789141029b12fb3d223a0373 = L.marker(
                [32.268672, -112.7387586],
                {}
            ).addTo(feature_group_bb76e43f715a491581daa7dd449d8eaf);
        
    
            var icon_f050834ef2d3492b9257b4fff9013fe2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_86648408789141029b12fb3d223a0373.setIcon(icon_f050834ef2d3492b9257b4fff9013fe2);
        
    
        var popup_465f1e97685947ff877919c36ea51e5f = L.popup({"maxWidth": "100%"});

        
            var html_1267a43124164fecb58204230de1ddc6 = $(`<div id="html_1267a43124164fecb58204230de1ddc6" style="width: 100.0%; height: 100.0%;">why ............... AnupamConnects  Gaurav      Hate modi </div>`)[0];
            popup_465f1e97685947ff877919c36ea51e5f.setContent(html_1267a43124164fecb58204230de1ddc6);
        

        marker_86648408789141029b12fb3d223a0373.bindPopup(popup_465f1e97685947ff877919c36ea51e5f)
        ;

        
    
    
            var marker_ad647f3d3fbb40e7bb1fa5f6090fbde2 = L.marker(
                [19.0503568, 72.82252428219358],
                {}
            ).addTo(feature_group_bb76e43f715a491581daa7dd449d8eaf);
        
    
            var icon_5f1ff4a337574f9e8260c04aebce2eaa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ad647f3d3fbb40e7bb1fa5f6090fbde2.setIcon(icon_5f1ff4a337574f9e8260c04aebce2eaa);
        
    
        var popup_89fecae3a4444f9ba268f8047448c05e = L.popup({"maxWidth": "100%"});

        
            var html_798cc699b04f496db352e1260f77c569 = $(`<div id="html_798cc699b04f496db352e1260f77c569" style="width: 100.0%; height: 100.0%;">vaikunth ...............RT  Ramesh BJP  While the evil minded opposition is burning it s midnight oil to destroy the peace of the nation  PM Modi is working on his </div>`)[0];
            popup_89fecae3a4444f9ba268f8047448c05e.setContent(html_798cc699b04f496db352e1260f77c569);
        

        marker_ad647f3d3fbb40e7bb1fa5f6090fbde2.bindPopup(popup_89fecae3a4444f9ba268f8047448c05e)
        ;

        
    
    
            var marker_5e2f63863305495ea6be5b4b1eeadddc = L.marker(
                [18.9387711, 72.8353355],
                {}
            ).addTo(feature_group_bb76e43f715a491581daa7dd449d8eaf);
        
    
            var icon_31f8ff5edf064796a4f4027fc39356f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5e2f63863305495ea6be5b4b1eeadddc.setIcon(icon_31f8ff5edf064796a4f4027fc39356f6);
        
    
        var popup_eeedbfad5e7d4042ae8b9a2318642ff4 = L.popup({"maxWidth": "100%"});

        
            var html_4d9efc4ec32b47d2a396ceb03844f77f = $(`<div id="html_4d9efc4ec32b47d2a396ceb03844f77f" style="width: 100.0%; height: 100.0%;">Mumbai ...............RT  SaketGokhale  Modi is going to regret making that random    million people  promise to Trump  He s hung up on it like a baby    I just </div>`)[0];
            popup_eeedbfad5e7d4042ae8b9a2318642ff4.setContent(html_4d9efc4ec32b47d2a396ceb03844f77f);
        

        marker_5e2f63863305495ea6be5b4b1eeadddc.bindPopup(popup_eeedbfad5e7d4042ae8b9a2318642ff4)
        ;

        
    
    
            var marker_621dc57cf6a84f32babfb42764ad3688 = L.marker(
                [17.38878595, 78.46106473453146],
                {}
            ).addTo(feature_group_bb76e43f715a491581daa7dd449d8eaf);
        
    
            var icon_d2101c1ce8404e56aeb1392cc50f25f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_621dc57cf6a84f32babfb42764ad3688.setIcon(icon_d2101c1ce8404e56aeb1392cc50f25f6);
        
    
        var popup_dcf3b85ec77641418aedba2f1caa29e3 = L.popup({"maxWidth": "100%"});

        
            var html_93b9d15494b14dd884b1008c33aa5bb3 = $(`<div id="html_93b9d15494b14dd884b1008c33aa5bb3" style="width: 100.0%; height: 100.0%;">Hyderabad ...............To all the mean and narrow minded people who have commented earlier about  ncbn s age    Trump      n going strong  https   t co  YdtITig n</div>`)[0];
            popup_dcf3b85ec77641418aedba2f1caa29e3.setContent(html_93b9d15494b14dd884b1008c33aa5bb3);
        

        marker_621dc57cf6a84f32babfb42764ad3688.bindPopup(popup_dcf3b85ec77641418aedba2f1caa29e3)
        ;

        
    
    
            var marker_cd6de152db8a4e50909e9f1c6f77e1ee = L.marker(
                [32.268672, -112.7387586],
                {}
            ).addTo(feature_group_bb76e43f715a491581daa7dd449d8eaf);
        
    
            var icon_67760f8161994a02979d9091f7302901 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cd6de152db8a4e50909e9f1c6f77e1ee.setIcon(icon_67760f8161994a02979d9091f7302901);
        
    
        var popup_e0733fc818c5484cbe1174a81379b88b = L.popup({"maxWidth": "100%"});

        
            var html_1c3a551afdc34d939136e14e82f459a8 = $(`<div id="html_1c3a551afdc34d939136e14e82f459a8" style="width: 100.0%; height: 100.0%;">why ............... AnupamConnects  Gaurav      I agree police should have arrested rather than lathi charge but baaki fake mat fela c  https   t co WAXDpr Lfi</div>`)[0];
            popup_e0733fc818c5484cbe1174a81379b88b.setContent(html_1c3a551afdc34d939136e14e82f459a8);
        

        marker_cd6de152db8a4e50909e9f1c6f77e1ee.bindPopup(popup_e0733fc818c5484cbe1174a81379b88b)
        ;

        
    
    
            var feature_group_489bd777d9ac4f09b3a43b5e656c6449 = L.featureGroup(
                {}
            ).addTo(map_6ec59b52baa240699ffc52c4dcca2d56);
        
    
            var marker_22eb987283954d76b7f3748022d750ae = L.marker(
                [26.8105777, 73.7684549],
                {}
            ).addTo(feature_group_489bd777d9ac4f09b3a43b5e656c6449);
        
    
            var icon_5bd0128e4fde4e63b74f3cffb0e37f1d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_22eb987283954d76b7f3748022d750ae.setIcon(icon_5bd0128e4fde4e63b74f3cffb0e37f1d);
        
    
        var popup_f6eaa454973a4bbd97c85dac3107a1d8 = L.popup({"maxWidth": "100%"});

        
            var html_16a0dfe6b08048bbaa9d877230a0ea1e = $(`<div id="html_16a0dfe6b08048bbaa9d877230a0ea1e" style="width: 100.0%; height: 100.0%;">RAJASTHAN ................RT  girirajsinghbjp                                                                                                  https   t co  RYb bgp  </div>`)[0];
            popup_f6eaa454973a4bbd97c85dac3107a1d8.setContent(html_16a0dfe6b08048bbaa9d877230a0ea1e);
        

        marker_22eb987283954d76b7f3748022d750ae.bindPopup(popup_f6eaa454973a4bbd97c85dac3107a1d8)
        ;

        
    
    
            var marker_d0e4604bd65b480cbf22ae5f93a76deb = L.marker(
                [18.9387711, 72.8353355],
                {}
            ).addTo(feature_group_489bd777d9ac4f09b3a43b5e656c6449);
        
    
            var icon_10db9630f5254bcc9dc5b49eb5018528 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d0e4604bd65b480cbf22ae5f93a76deb.setIcon(icon_10db9630f5254bcc9dc5b49eb5018528);
        
    
        var popup_936c2ffd43f5408da705dc6855664c34 = L.popup({"maxWidth": "100%"});

        
            var html_cc20bb97ab9c45f1807b09335427babc = $(`<div id="html_cc20bb97ab9c45f1807b09335427babc" style="width: 100.0%; height: 100.0%;">Mumbai ................RT  ANI   WATCH US President Donald Trump in Washington on his visit to India  I happen to like PM Modi a lot  He told me we will have   mi </div>`)[0];
            popup_936c2ffd43f5408da705dc6855664c34.setContent(html_cc20bb97ab9c45f1807b09335427babc);
        

        marker_d0e4604bd65b480cbf22ae5f93a76deb.bindPopup(popup_936c2ffd43f5408da705dc6855664c34)
        ;

        
    
    
            var marker_57ee1a6c2920424e88a1de2c0bffd8cc = L.marker(
                [17.38878595, 78.46106473453146],
                {}
            ).addTo(feature_group_489bd777d9ac4f09b3a43b5e656c6449);
        
    
            var icon_3d53337919874d15a7374bc3e8af4152 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_57ee1a6c2920424e88a1de2c0bffd8cc.setIcon(icon_3d53337919874d15a7374bc3e8af4152);
        
    
        var popup_759eae6c653248688d14670fccabcd25 = L.popup({"maxWidth": "100%"});

        
            var html_2a88370144414e5694307c0512b6e60c = $(`<div id="html_2a88370144414e5694307c0512b6e60c" style="width: 100.0%; height: 100.0%;">Hyderabad ................ RatnadipC  soniandtv  ndtv  PrannoyRoyNDTV  Nidhi  SreenivasanJain Modi is plunging the country into a bigger mess  https   t co loB AuyjXK</div>`)[0];
            popup_759eae6c653248688d14670fccabcd25.setContent(html_2a88370144414e5694307c0512b6e60c);
        

        marker_57ee1a6c2920424e88a1de2c0bffd8cc.bindPopup(popup_759eae6c653248688d14670fccabcd25)
        ;

        
    
    
            var marker_28b32f7adbc644c9870e911fbee193c1 = L.marker(
                [18.9387711, 72.8353355],
                {}
            ).addTo(feature_group_489bd777d9ac4f09b3a43b5e656c6449);
        
    
            var icon_8db636ae72b24bb098fe2c98c388d608 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_28b32f7adbc644c9870e911fbee193c1.setIcon(icon_8db636ae72b24bb098fe2c98c388d608);
        
    
        var popup_519a2ac8c40042b88e0761c9dcb986bf = L.popup({"maxWidth": "100%"});

        
            var html_b2dd61320c2c4f3da0b7c4e6d224a765 = $(`<div id="html_b2dd61320c2c4f3da0b7c4e6d224a765" style="width: 100.0%; height: 100.0%;">Mumbai ................RT  shreyaashbaande  Saw this while exploring ig today       KemChhoTrump  NarendraModi  TrumpIndiaVisit  Ahmedabad  Trump      Modi  slum </div>`)[0];
            popup_519a2ac8c40042b88e0761c9dcb986bf.setContent(html_b2dd61320c2c4f3da0b7c4e6d224a765);
        

        marker_28b32f7adbc644c9870e911fbee193c1.bindPopup(popup_519a2ac8c40042b88e0761c9dcb986bf)
        ;

        
    
    
            var marker_930af730580043cba2197883a4794b5b = L.marker(
                [22.3511148, 78.6677428],
                {}
            ).addTo(feature_group_489bd777d9ac4f09b3a43b5e656c6449);
        
    
            var icon_9ce8fa367ae945bf8ce128b224f561f2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_930af730580043cba2197883a4794b5b.setIcon(icon_9ce8fa367ae945bf8ce128b224f561f2);
        
    
        var popup_9a815ceff53f47c687d8ca77fadff008 = L.popup({"maxWidth": "100%"});

        
            var html_0c2b3359b55f4d0fa183d5570f781a73 = $(`<div id="html_0c2b3359b55f4d0fa183d5570f781a73" style="width: 100.0%; height: 100.0%;">India ................RT  punit                                                                                                                  Poonamrajtyagi   </div>`)[0];
            popup_9a815ceff53f47c687d8ca77fadff008.setContent(html_0c2b3359b55f4d0fa183d5570f781a73);
        

        marker_930af730580043cba2197883a4794b5b.bindPopup(popup_9a815ceff53f47c687d8ca77fadff008)
        ;

        
    
    
            var marker_e036021072c942f2a2a21b18b02a52d5 = L.marker(
                [26.8105777, 73.7684549],
                {}
            ).addTo(feature_group_489bd777d9ac4f09b3a43b5e656c6449);
        
    
            var icon_76ce20105a0e4fcd99e24f9a96822aaf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e036021072c942f2a2a21b18b02a52d5.setIcon(icon_76ce20105a0e4fcd99e24f9a96822aaf);
        
    
        var popup_71c22452968f4759a8cf0b01455b8c83 = L.popup({"maxWidth": "100%"});

        
            var html_1c79b41245aa4506a2b6c03c47bff182 = $(`<div id="html_1c79b41245aa4506a2b6c03c47bff182" style="width: 100.0%; height: 100.0%;">Rajasthan ................ saba khan       modi ke hatho  Modi kisi shantipriy ko nahi marta  or mob lynching to ese bol ri ho jese modi ke a  https   t co y  YAjfsVE</div>`)[0];
            popup_71c22452968f4759a8cf0b01455b8c83.setContent(html_1c79b41245aa4506a2b6c03c47bff182);
        

        marker_e036021072c942f2a2a21b18b02a52d5.bindPopup(popup_71c22452968f4759a8cf0b01455b8c83)
        ;

        
    
    
            var marker_0cbbf455f7824ac6a3f89ddf4f461716 = L.marker(
                [18.9387711, 72.8353355],
                {}
            ).addTo(feature_group_489bd777d9ac4f09b3a43b5e656c6449);
        
    
            var icon_8269c8ae02cf4dbb8da11ece6a0db273 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0cbbf455f7824ac6a3f89ddf4f461716.setIcon(icon_8269c8ae02cf4dbb8da11ece6a0db273);
        
    
        var popup_4b30b99e42874b62a34072c242d309d0 = L.popup({"maxWidth": "100%"});

        
            var html_706483961bc94d93a228874ffd113fe9 = $(`<div id="html_706483961bc94d93a228874ffd113fe9" style="width: 100.0%; height: 100.0%;">Mumbai ................RT  OpIndia com  An Islamic cleric named Mufti Shahryar Raza has issued threats against PM Modi  Home Minister Amit Shah and has incited op </div>`)[0];
            popup_4b30b99e42874b62a34072c242d309d0.setContent(html_706483961bc94d93a228874ffd113fe9);
        

        marker_0cbbf455f7824ac6a3f89ddf4f461716.bindPopup(popup_4b30b99e42874b62a34072c242d309d0)
        ;

        
    
    
            var marker_caec56522f1a42a0aefdf0ba17612c4b = L.marker(
                [13.2904027, 108.4265113],
                {}
            ).addTo(feature_group_489bd777d9ac4f09b3a43b5e656c6449);
        
    
            var icon_1aba24c6431a4860957ca2a88a7a3259 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_caec56522f1a42a0aefdf0ba17612c4b.setIcon(icon_1aba24c6431a4860957ca2a88a7a3259);
        
    
        var popup_2ff7804d15ff4846a5f28a0e8811293c = L.popup({"maxWidth": "100%"});

        
            var html_da276fa7a6574c61bfe148a3f9276661 = $(`<div id="html_da276fa7a6574c61bfe148a3f9276661" style="width: 100.0%; height: 100.0%;">v ................RT  kapsology  Narendra Modi is arranging a Political rally in Indian for Donald Trump using Indian Tax Payers money so that NRIs living in </div>`)[0];
            popup_2ff7804d15ff4846a5f28a0e8811293c.setContent(html_da276fa7a6574c61bfe148a3f9276661);
        

        marker_caec56522f1a42a0aefdf0ba17612c4b.bindPopup(popup_2ff7804d15ff4846a5f28a0e8811293c)
        ;

        
    
    
            var marker_a1d4857f339d45338bfa19c25697fc82 = L.marker(
                [18.521428, 73.8544541],
                {}
            ).addTo(feature_group_489bd777d9ac4f09b3a43b5e656c6449);
        
    
            var icon_0a263288a3cd437d8666609a05cb4c1f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a1d4857f339d45338bfa19c25697fc82.setIcon(icon_0a263288a3cd437d8666609a05cb4c1f);
        
    
        var popup_1a14bd75e6d94f86bcc62966b4b71783 = L.popup({"maxWidth": "100%"});

        
            var html_0f9d8d9bfdae407fb32a4b41f0fb213b = $(`<div id="html_0f9d8d9bfdae407fb32a4b41f0fb213b" style="width: 100.0%; height: 100.0%;">Pune ................RT  ANI  US President Donald Trump in Washington on his visit to India  I happen to like PM Modi a lot  He told me we will have   million p </div>`)[0];
            popup_1a14bd75e6d94f86bcc62966b4b71783.setContent(html_0f9d8d9bfdae407fb32a4b41f0fb213b);
        

        marker_a1d4857f339d45338bfa19c25697fc82.bindPopup(popup_1a14bd75e6d94f86bcc62966b4b71783)
        ;

        
    
    
            var marker_f0928f2c1f9449baba17050b6e0f954e = L.marker(
                [28.6517178, 77.2219388],
                {}
            ).addTo(feature_group_489bd777d9ac4f09b3a43b5e656c6449);
        
    
            var icon_60958b4b006d428daf3027fbd9a17a0d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f0928f2c1f9449baba17050b6e0f954e.setIcon(icon_60958b4b006d428daf3027fbd9a17a0d);
        
    
        var popup_a371185aa1274294b104647305cfc191 = L.popup({"maxWidth": "100%"});

        
            var html_48b252baba1c4ad1a4d29f01b4de8092 = $(`<div id="html_48b252baba1c4ad1a4d29f01b4de8092" style="width: 100.0%; height: 100.0%;">Delhi ................ ANI Heis repeating same thing again  He is like making joke on modi ji</div>`)[0];
            popup_a371185aa1274294b104647305cfc191.setContent(html_48b252baba1c4ad1a4d29f01b4de8092);
        

        marker_f0928f2c1f9449baba17050b6e0f954e.bindPopup(popup_a371185aa1274294b104647305cfc191)
        ;

        
    
    
            var layer_control_657c93c364244c15a2af59dfa494317c = {
                base_layers : {
                    "mapboxbright" : tile_layer_ce0f5b4488ab443f9b25e738a49bef45,
                },
                overlays :  {
                    "Positive" : feature_group_708cf158271547a3ba042daf2566ec21,
                    "Negative" : feature_group_bb76e43f715a491581daa7dd449d8eaf,
                    "Neutral" : feature_group_489bd777d9ac4f09b3a43b5e656c6449,
                },
            };
            L.control.layers(
                layer_control_657c93c364244c15a2af59dfa494317c.base_layers,
                layer_control_657c93c364244c15a2af59dfa494317c.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_6ec59b52baa240699ffc52c4dcca2d56);
        
</script>